.game-card-list {
    display: grid;
    position: relative;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fill, 400px);
    width: 100%;
    gap: 30px;
    grid-row: 2/3;
    grid-column: 2/3;
}

.game-card-container {
    display: grid;
    grid-template-rows: 2fr 1fr;
    overflow: hidden;
    color: white;
    background-color: #201f1f;
    border-radius: 10px;
    max-width: 400px;
    max-height: 400px; 
    overflow:visible;
}

.game-card-details {
    display: flex;
    flex-direction: column;
}

.game-card-1st-row {
    display: flex;
    justify-content: center;
    padding: 5px;
    gap: 10px;
}

.platform-icon {
    margin-top: 5px;
    height: 20px;
    width: 20px;
    color: #9A9A9A;
}

.game-card-title {
    font-size: 1.5rem;
    text-align: center;
}

.game-card-image-container {
    position: relative;
}

.game-card-image {
    width: 100%;
    height: 250px;
    border-radius: 10px 10px 0px 0px;
} 

.loading-icon {
    display: block;
    margin: 0 auto;
    width: 75px;
    height: 75px;
    font-size: 75px;
    color: cyan;
    animation: rotate 1s linear infinite;
}

.add-to-cart-button {
    cursor: pointer;
    position: absolute;
    background: transparent;
    border: 0;
    padding: 0;
    justify-self: center;
    top: 10px;
    right: 10px;
    margin-left: auto;
}

.add-to-cart-icon {
    width: 30px;
}

.end-of-page-text {
    display: block;
    text-align: center;
    font-size: 2rem;
    margin: 0 auto;
    color: #9A9A9A;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(359deg);
    }
}